.card.mb-3 {
    max-width: 22rem;
}
.btn-default {
    width: 120px;
    height: 40px;
    background-color: orange;
}
.card-body, .card-footer.bg-transparent{
    text-align: center;
}
input {
    margin: 10px auto;
}
.card-header.bg-transparent {
    font-size: 1.4rem;
}
.card {
    margin: 60px auto;
}