.app {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas: 
    "header"
    "content";
    /*background-color: blue;*/
}

header.header {
    grid-area: header;
}

main.content {
    grid-area: content;
}

body {
    background-color: #f5f5f5;
}